<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset='utf-8'>
		<link href='' rel='stylesheet'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'/>
	</head>
	<body ng-app="TodoApp">
		<section ng-controller="TodoCtrl">
			<h1>{{ title }}</h1>
			<div>
				<input type="text" ng-model="macaroni" />
				<div> {{ macaroni }} </div>
			</div>

			<div>
				<ul ng-repeat="todo in todos">
					<li>{{ todo.name }} <button ng-click="killTodo(todo)">Finish</button></li>
				</ul>
			</div>

			<input type="text" ng-model="searchText" />
			<div>
				<ul ng-repeat="todo in todos | filter: searchText">
					<li>{{todo.name}}</li>
				</ul>
			</div>			
		</section>

		<script src="./lib/node_modules/angular/angular.min.js"></script>			
		<script src='./app/todo.js'></script>
	</body>
</html>